/* wordpress common css start */

.wp-block-post-title {
	display: none;
}

/* wordpress common css end */

/* common css start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.common-section-title {
    margin: 15px 0 0 0;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: inherit;
    color: #000000;
}

.common-section-subtitle {
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    border-top: 1px solid black;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
}

.full-width {
    width: 100% !important;
}

.flex-1 {
    flex: 1;
}

.common-section-container {
    margin: 70px 0 0 0 !important;
    max-width: 100% !important;
}

/* common css end */

/* team section start */

.team-content-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 2%;
    margin: 25px 0 0 0;
    justify-content: space-between;
}

.team-profile-container {
    width: 23%;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.team-profile-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 5px 5px 0;
    box-sizing: border-box;
}

.team-profile-name-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .5px;
    font-family: inherit;
    overflow: hidden;
}

.team-profile-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .team-content-container {
        row-gap: 25px;
        column-gap: 5%;
    }

    .team-profile-container {
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .team-content-container {
        row-gap: 15px;
        column-gap: 0;
    }

    .team-profile-container {
        width: 100%;
    }
}

/* team section end */

/* case study section start */

.case-study-list-container {
    list-style: none;
    margin: 0 auto 15px;
    padding: 0;
    width: 100%;
    max-width: 80%;
}

.case-study-list:not(:last-child) {
    margin: 0 0 10px 0;
}

.case-study-content {
    margin: 40px 0 0 0;
}

.case-study-action {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
    color: #555555;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.case-study-image-container {
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 0 15px 0 0;
}

.case-study-text
{
    text-transform: uppercase;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
}

.case-study-arrow-container {
    overflow: hidden;
    width: 55px;
}

.case-study-arrow-container .case-study-arrow {
    width: 100%;
    height: auto;
}

.case-study-button-container {
    display: flex;
    justify-content: center;
}

.case-study-button-container .case-study-button {
    padding: 8px 25px;
    box-sizing: border-box;
    user-select: none;
    text-transform: uppercase;
    border: 1px solid #3F68FF;
    color: #555555 !important;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width:700px) {
    .case-study-list-container {
        max-width: 100%;
    }
}

/* case study section end */

/* testimonial section start */

.testimonial-container {
    background: rgba(213, 214, 245, 0.15);
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.testimonial-content {
    display: flex;
    margin: 20px 0 0 0;
}

.testimonial-right-part {
    flex: 1;
    padding: 40px 15px 0;
    box-sizing: border-box;
}

.testimonial-left-part {
    overflow: hidden;
    flex: 1;
}

.testimonial-image {
    height: 400px;
    width: auto;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .testimonial-right-part {
        flex: 1;
        padding: 0 15px;

    }
    
    .testimonial-left-part {
        display: none;
    }
}


@media screen and (max-width:700px) {
    .testimonial-right-part {
        flex: 1;
        padding: 0 15px;
        
    }
    
    .testimonial-left-part {
        display: none;
    }
}

/* testimonial section end */

/* featured clients section start */

.featured-clients-container {
    margin: 35px 0 0 0;
}

.clients-title-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 5px 0;
    box-sizing: border-box;

}

.clients-title {
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.clients-content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0 0 0;
}

.clients-image-container {
    max-width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.clients-image {
    max-height: 100%;
    max-width: 100%;
}

/* featured clients section end */

/* service section start */

.service-content {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 40px 0 0 0;
}

.service-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: calc(33% - 100px);
}

.service-image {
    height: 50px;
    width: auto;
}

.service-title {
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0 0 0;
}

.service-description {
    font-family: inherit;
    font-size: 0.8125rem; 
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: center;
}

:root {
    --tablet-start: 700px;
    --tablet-end: 700px;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .service-content {
        gap: 50px;
    }
    
    .service-item-container {
        flex: calc(50% - 50px);
    }
}

@media screen and (max-width:700px) {
    .service-content {
        gap: 15px;
    }
    
    .service-item-container {
        flex: 100%;
    }
}

/* service section start */

/* contact section start */

.contact-title {
    text-align: center;
}

.contact-subtitle {
    text-align: center;
    border: none;
    font-weight: 500;
    color: #666666;
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    text-transform: none;
    padding: 0;
}

.contact-center-container {
    margin: 35px auto 0;
    width: 100%;
    max-width: 500px;
}

/* contact section end */

/* business info section start  */

.business-info-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.experts-description {
    margin: 35px 0 0 0;
    text-align: center;
}

.experts-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
}

.experts-button {
    padding: 5px 15px;
    box-sizing: border-box;
    background: #3F68FF;
    border-radius: 50px;
    overflow: hidden;
    color: white !important;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
}

.business-video-container {
    margin: 15px 0 0 0;
}

.business-video-center-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 70px;
    box-sizing: border-box;
    position: relative;
    min-height: 200px;
}

.business-video {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background: aliceblue;
}

.business-video-market-arrow {
    width: 100%;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    box-sizing: border-box;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .business-video-market-arrow {
        padding: 15px 0;
    }
}

@media screen and (max-width:700px) {
    .business-video-market-arrow {
        padding: 15px 0;
    }

    .business-video-center-container {
        padding: 0 25px;
    }
}

/* business info section end  */

