/* dummy css start leave it */

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    padding: 0 100px;
}

/* dummy css end leave it*/

/* common css start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.common-section-title {
    margin: 15px 0 0 0;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: inherit;
    color: #000000;
}

.common-section-subtitle {
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    border-top: 1px solid black;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
}

.full-width {
    width: 100% !important;
}

.flex-1 {
    flex: 1;
}

.common-section-container {
    margin: 70px 0 0 0;
}

/* common css end */

/* team section start */

.team-content-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 2%;
    margin: 25px 0 0 0;
    justify-content: space-between;
}

.team-profile-container {
    flex: 1 1 23%;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 11px 27px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.team-profile-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 5px 5px 0;
    box-sizing: border-box;
}

.team-profile-name-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.team-profile-name {
    color: #000000;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.team-profile-profession {
    color: #3F68FF;
    font-family: inherit;
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: capitalize;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .team-content-container {
        row-gap: 25px;
        column-gap: 5%;
    }

    .team-profile-container {
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .team-content-container {
        row-gap: 15px;
        column-gap: 0;
    }

    .team-profile-container {
        width: 100%;
    }
}

/* team section end */

/* testimonial section start */

.testimonial-container {
    background: rgba(213, 214, 245, 0.15);
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.testimonial-content {
    display: flex;
    margin: 20px 0 0 0;
}

.testimonial-right-part {
    flex: 1;
    padding: 40px 15px 0;
    box-sizing: border-box;
}

.testimonial-left-part {
    overflow: hidden;
    flex: 1;
}

.testimonial-image {
    height: 400px;
    width: auto;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .testimonial-right-part {
        flex: 1;
        padding: 0 15px;

    }
    
    .testimonial-left-part {
        display: none;
    }
}


@media screen and (max-width:700px) {
    .testimonial-right-part {
        flex: 1;
        padding: 0 15px;
        
    }
    
    .testimonial-left-part {
        display: none;
    }
}

/* testimonial section end */

/* featured clients section start */

.featured-clients-container {
    margin: 35px 0 0 0;
}

.clients-title-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 5px 0;
    box-sizing: border-box;

}

.clients-title {
    font-size: 1rem;
    font-weight: normal;
    font-family: inherit;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.clients-content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0 0 0;
}

.clients-image-container {
    max-width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.clients-image {
    max-height: 100%;
    max-width: 100%;
}

/* featured clients section end */

/* service section start */

.service-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 40px 0 0 0;
}

.service-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(33% - 50px);
    padding: 25px 15px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.service-item-container:hover {
    border: 1px solid #E1E0E0;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    cursor: pointer;
}

.service-image {
    height: 50px;
    width: auto;
}

.service-title {
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0 0 0;
    text-align: center;
}

.service-item-container:hover .service-title{
    color: #444CE7;
}

.service-description {
    font-family: inherit;
    font-size: 0.8125rem; 
    font-weight: 400;
    margin: 10px 0 0 0;
    text-align: center;
}

:root {
    --tablet-start: 700px;
    --tablet-end: 700px;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .service-content {
        gap: 30px;
    }
    
    .service-item-container {
        flex: 1 1 calc(50% - 30px);
    }
}

@media screen and (max-width:700px) {
    .service-content {
        gap: 15px;
    }
    
    .service-item-container {
        flex: 1 1 100%;
    }
}

/* service section start */

/* contact section start */

.contact-title {
    text-align: center;
}

.contact-subtitle {
    text-align: center;
    border: none;
    font-weight: 500;
    color: #666666;
    font-size: 1rem;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    text-transform: none;
    padding: 0;
}

.contact-center-container {
    margin: 35px auto 0;
    width: 100%;
    max-width: 500px;
}

/* contact section end */


/* business info start */

.business-info-content {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.business-left-content {
    flex: 1 1 70%;
}

.business-right-content {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
}

.business-info-title {
    font-family: inherit;
    font-size: 1.8rem;
    color: #000000;
    margin: 0 0 0 0;
}

.business-info-subtitle {
    font-family: inherit;
    font-size: 2.5rem;
    color: #444CE7;
    margin: 10px 0 0 0;
}

.business-description {
    font-family: inherit;
    font-size: 1rem;
    color: #5F5F5F;
    margin: 30px 0 0 0;
    display: block;
}

.business-button-container {
    margin: 5px 0 0 0;
}

.business-info-button {
    background: #444CE7;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    box-sizing: border-box;
    border: 1px solid #444CE7;
    font-family: inherit;
    font-size: 1rem;
}

.business-info-progress-container {
    list-style: none;
    margin: 20px 0 0 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}

.business-info-progress-container li {
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-info-progress-container li:first-child {
    padding: 0 15px 0 0;
}

.business-info-progress-container li:not(:last-child) {
    border-right: 0.5px solid #444CE7;
}

.business-info-progress-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: #444CE7;
    margin: 10px 0 0 0;
    text-align: center;
}

.business-info-progress-subtitle {
    font-family: inherit; 
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #444CE7;
    text-align: center;
    margin: 5px 0 0 0;
}

.business-info-image {
    margin: 0 auto;
    display: block;
    height: 27px;
    width: auto;
}

.business-info-banner {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width:700px) and (max-width: 950px) {
    .business-info-content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .business-left-content,
    .business-right-content {
        flex: 1 1 100%;
        width: 100%;
    }

    .business-right-content {
        align-items: normal;
        justify-content: center;
    }
}

@media screen and (max-width:700px) {
    .business-info-content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .business-left-content,
    .business-right-content {
        flex: 1 1 100%;
        width: 100%;
    }

    .business-right-content {
        align-items: normal;
        justify-content: center;
    }
}

/* business info end */
